/*Set of colors*/
.background-color-1{
	background-color: #00448d;
}
.background-color-2{
	background-color: #ffffff;
}
.background-color-3{
	background-color: #454545;
}
.color-1{
	color: white;
}
.color-2{
	color: #0568ce;
}

.header-section h1 span{
	font-family: 'Roboto', sans-serif;
	/*margin-top: 0.7vh;*/
	padding: 10px 25px 5px 25px;
	font-size: 40px;
	font-weight: 500;
	display: inline-block;
	letter-spacing: 1px;
}

.header-section .break{
	height: 0.7vh;
}

.feature-section-content .item{
	text-align: justify;
	width: 30%;
	min-width: 280px;
	margin: 15px;
	padding: 15px;
	color: #777;
	font-size: 13px;
	text-align-last: center;
}
.feature-section-content .item h5{
	font-family: 'Roboto';
	color: #007dff;
	width: 60%;
	text-align: center;
	margin:10px auto;
	line-height: 20px;
}

.feature-section{
	width: 80%;
	margin: auto;
	max-width: 1200px;
}

.header-section{
	background: url("./images/banner1.jpg");
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    padding-top: 40vh;
	padding-bottom: 8vh;
}

.img-as-background{
	background-image: url('./images/cctvimage.jpg');
	width: 50%;
	display: inline-block;
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    float: left;
}

.advantage-section{
	padding: 100px;
	text-align: justify;
	width: 50%;
	display: inline-block;
	float: left;
}

.icon{
	display: block;
    margin: 0 auto;
    background: url(./images/va-sprite.png) no-repeat;
    width: 80px;
    height: 80px;

}

.video-surveillance-icon{
	color: black;	
	background-position: -320px -320px;
}
.loitering-detection-icon{
	background-position: -240px -320px;
}
.camera-tampering-icon{
	background-position: -160px -320px;
}
.intrusion-detection-icon{
	background-position: -240px -320px;
}
.vehicle-monitoring-icon{
	background-position: -320px -320px;
}
.auto-tracking-icon{
	background-position: -160px -320px;
}

.center-left{
	margin: 0;
	margin-right: 175px;
}

.center-right{
	margin: 0;
	margin-left: 205px;
}

p.tagline{
	font-family: 'Roboto', sans-serif;
	margin-top: 15px;
	font-size: 14px;
	font-weight: 300;
	font-style: italic;
	color: #b9e7f6;
}


.advantage-section h2 b{
	color: #fbfbfb;
	font-family: 'Roboto';
	font-weight: 400;
}
.advantage-section h2{
	color: #ffffff;
	font-family: 'Roboto';
	font-weight: 100;
	text-align: left;
}

.feature-section h3{
	text-align: center;
	padding-top: 80px;
	font-family: 'Roboto Slab', sans-serif;
	font-size: 35px;
	font-weight: 700;

}

.advantage-section p{
	color:#b4b4b4;
	font-size: 13px;
	line-height: 25px;
	margin: 20px 0;
}

.advantage-section li{
	font-family: 'Roboto', sans-serif;
	color:#ffffff;
	font-size: 13px;
	line-height: 25px;
	padding: 0;
	margin: 0;
	list-style: none;
	margin: 1em;
  	margin-left: -12px;
}

.advantage-section li:before {
	content: "\f047"; /* fa-arrows */
	font-family: 'FontAwesome';
	float: left;
	margin-left: -1.5em;
	color: white;
}


body section:nth-child(2){
	font-family: 'Roboto';
	text-align: center;
	font-size: 15px;
	color: #444;
	font-weight: 400;
	padding-top: 47px;
	padding-bottom: 60px;
}


.advantage-flex{
	display: flex;
	align-items: stretch;
}
.cctvimage-area{
	width:100%;
}

 .cctvimage-background{
 	padding:0;
}

.feature-section-content{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.feature-section-content h5{

}

/*For small device*/
@media only screen and (max-width:1440px){
	.advantage-section li{
		margin-left: -20px;
	}
}

@media only screen and (max-width:1280px){
	.advantage-section{
		padding: 50px;
	}

	.feature-section{
		width: 100%;
	}
}

@media only screen and (max-width:1050px){
	.advantage-section h2{
		font-size: 30px;
	}
	.advantage-section p{
		line-height: 22px;
	}

	.advantage-section li{
		line-height: 18px;
	}
	.header-section{
		padding-bottom: 2vh;
	}
}



@media only screen and (max-width: 992px){
	.item{
    	width:45%;
    	padding: 0;
    }
}

@media only screen and (max-width:800px){
	.header-section{
		padding-top: 205px;
	}
    .item{
    	width:45%;
    }
    .img-as-background{
    	display: none;
    }
    .advantage-section{
    	width: 100%;
    	padding: 30px;
    }
    .feature-section h3{
    	padding: 0;
    	font-size: 22px;
    }
    .feature-section-content .item h5{
		width: 90%;
	}
	.feature-section-content .item{
		margin: 0;
	}
}

@media only screen and (max-width: 690px){
	.center-left{
		margin: 0;
		margin-right: 0;
	}

	.center-right{
		margin: 0;
		margin-left: 0;
	}
	.header-section h1 span{
		font-size: 25px;
	}
    .advantage-section h2{
		font-size: 25px;
	}
	.advantage-section p{
		line-height: 20px;
	}

	.advantage-section li{
		line-height: 16px;
	}
	.advantage-section{
		width: 100%;
		padding: 15px;
	}
}

@media only screen and (max-width:629px){
    .item{
    	width: 90%;
    }
}

@media only screen and (max-width: 470px){
	.advantage-section{
		width: 100%;
		padding: 15px;
	}

	.advantage-section li{
		margin-left: -20px;
	}
}

@media only screen and (max-width: 400px){
	.advantage-section{
		width: 100%;
	}
}

@media only screen and (min-width: 691px) and (max-width: 992px){
    
    .header-section{
      height: auto;
    }
    .header-section h1 span{
    	font-size: 30px;
    }
}

@media only screen and (min-width: 1600px){
	.header-section{
		padding-top: 40vh;
		padding-bottom: 8vh;
	}
	.header-section h1 span{
    	font-size: 55px;
    }
    .center-left{
		margin-right: 30%;
	}

	.center-right{
		margin-left: 20%;
	}
	p.tagline{
		font-size: 20px;
	}
	body section:nth-child(2){
		font-size: 20px;
	}
	.advantage-section h2{
		font-size: 40px;
	}
	.advantage-section p{
		font-size: 18px;
		line-height: 30px;
		padding: 20px 0;
	}

	.advantage-section li{
		font-size: 18px;
		line-height: 25px;
		padding-top: 20px;
		font-weight: 300;
	}

	.feature-section-content .item h5{
		font-size: 17px;
		line-height: 22px;
		width: 70%;
	}

	.feature-section-content .item p{
		font-size: 16px;
		line-height: 25px;
	}

}

@media only screen and (min-width: 1921px){
	.advantage-section h2{
		font-size: 50px;
	}
	.advantage-section p{
		font-size: 23px;
		line-height: 33px;
		padding: 30px 0;
	}

	.advantage-section li{
		font-size: 24px;
		line-height: 38px;
		padding-top: 20px;
		font-weight: 300;
	}
	.img-as-background{
		width: 40%;
	}

	.advantage-section{
		width: 57%;
	}

	.advantage-section li{
		margin-left: -0px;
	}

	.feature-section{
		width: 55%;
	}
}
